#{list items : authorizeRecordDtoList, as : 'item'}
<tr>
    <td width="17%">#{emVF v : item.sendingtime, f : 'yyyy-MM-dd HH:mm:ss'/}</td>
    <td width="17%">
        #{emVF v :item.securityid /}
        *{<div style="cursor: pointer">
            <a href="javascript:jumpToQuote('#{emVF v : item.securityid/}');"
               style="text-decoration: none">#{emVF v :item.securityid /}</a>
        </div>}*
    </td>
*{<td width="14%">
        <div style="cursor: pointer">
            <a href="javascript:jumpToQuote('#{emVF v : item.securityid/}');"
               style="text-decoration: none">#{emVF v : item.name/}</a>
        </div>
    </td>}*
    <td width="17%">
        #{emVF v : item.getSide2()/}
    </td>
    <td width="17%">#{emVF v : item.getPositionEffect2()/}</td>
    <td width="16%">#{emVF v : item.price, f:'#,##0.00'/}</td>
    <td width="16%">#{emVF v : item.orderqty/}</td>
*{<td width="14%">
        #{if item.trade_variety == 1}股票#{/if}
        #{elseif item.trade_variety == 2}期货#{/elseif}
        #{else}混合#{/else}
    </td>}*
</tr>
#{/list}