#{extends 'main.html' /}
#{set title:'Home' /}

<body>
<p>#{a @Strategys.strategyList()}策略列表#{/a}</p>

<p>#{a @StockPools.list()}股票池列表#{/a}</p>

<p>#{a @StockPoolFavorite.list()}股票池列表 我的收藏#{/a}</p>

<p>#{a @UserStrategyManage.myStrategyList()}策略上传列表#{/a}</p>

<p>#{a @MessagesInfos.msgList()}系统消息#{/a}</p>

--------------------manage-----------------------------

<p>#{a @Activateuser.list()}用户管理#{/a}</p>

<p>#{a @StrategyInfos.list()}策略管理#{/a}</p>

<p>#{a @configinfos.configmanage()}配置管理#{/a}</p>

<p>#{a @LogInfos.loglist()}日志管理#{/a}</p>

<p>服务器列表访问  ip:9100/serverManageCt/serverList</p>



</body>